@import "color";

div {
  h1 {
    background-color: $offBlack;
  }

  h2 {
    background-color: $rosePink;
  }

  h3 {
    background-color: $darkRed;
  }

  h4 {
    background-color: $seaGreen;
  }

  h5 {
    background-color: $lightGray;
  }

  a {
    h6 {
      background-color: $megenta;
    }
  }
}
